body {
    padding-top: 70px;
}

.fa {
    font-size: 2em;
}

.navbar-right {
    height: 60px;
}

li a.social-icons {
    padding: 15px 20px 15px 20px;
    float: left;
    text-align: left;
}

.footer {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 1em;
    color: #ccc;
    font-size: 1.1em;
    margin-bottom: 1em;
}

.center {
    margin: auto;
}

.center-row {
    float: none;
}